body {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin-bottom: .15em;
}

h3 {
	color: #0C1F43;
}

#content {
	height: 100%;
	width: 70vw;

}

#search {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;

}

#search-bar {
	height: 35px;
	width: 300px;
	border: 1px solid black;
	border-radius: 10px;
	text-indent: 5px;
}

#search-button {
	height: 35px;
	width: 70px;
	margin-left: 20px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}

#search-button:hover {
	filter: drop-shadow(0px 0px 3px black);
}

#search-bar:hover {
	filter: drop-shadow(0px 0px 3px black);
}

#search-bar:focus {
	outline: none;
}

#search-button:focus {
	outline: none;
}