<!DOCTYPE html>
<html lang="en">
<head>
    <title>ForgeFind - Code repository search</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
    {% block content %}
    {% endblock %}
  
</body>
</html>
