
{% extends "base.html" %}
{% block content %}
	<div id="content">
		<div id="search">
			<h1>Code forge Search</h1>
			<p><a href="{{repourl}}">Source Code</a></p>
			<form action="search" method="get">
				<input id="search-bar" type="text" name="query" />
				<input id="search-button" type="submit" value="Search" />
			</form>
		</div>
		<p>
			The following forges are supported:
			<ul>
				{% for forge in forges %}
				<li><a href="{{forge.url}}">{{forge.name}}</a> 
				{% if forge.instanceof != "" %}({{forge.instanceof}}) {% endif %} </li>
				{% endfor %}
			</ul>
		</p>

	</div>
{% endblock %}