{% extends "base.html" %}
{% block content %}
	<h3>Code forge results</h3>
	<a href="/"> Search again</a>

	{% if results|length > 0 %}
	<ul>
		{% for result in results %}
		<li>{{result.forge.name}}: <a href="{{result.url}}">{{result.name}}</a>: {{result.description}}</li>
		{% endfor %}
	</ul>
	{% else %}
	<p> no results</p>
	{% endif %}
{% endblock %}